{
    on_demand_tls {
        ask http://check-auth:8000/check
    }
}

frps.{$DOMAIN} {
    tls
    reverse_proxy frps:7500
}

:443, *.{$DOMAIN} {
    tls {
        on_demand
    }
    reverse_proxy frps:8080
}